@import "tailwindcss";
* {
    font-family: "Manrope", sans-serif;
}

.animation_for_user {
    animation-name: user_wala;
    animation-duration: 4s;
    animation-delay: 2s;
}

.Chakra {
    font-family: "Chakra Petch", sans-serif;
}

.Nanum {
    font-family: "Nanum Myeongjo", serif;
}

.Manrope {
    font-family: "Manrope", sans-serif;
}

.Robot {
    font-family: "Roboto Mono", monospace;
}

.DM_serif {
	font-family: "DM Serif Display", serif;
}

.qwe {
	cursor: pointer;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.qwe:hover {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}